* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: lightgrey;
    font-weight: bold;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    color: cyan;
    background: black;
}
.midlogo {
    margin: auto;
}
.followUs {
    margin-left: auto;
}
