.fancy-header{
	color:blue;
	 text-decoration:underline:
}

h1,h2{
	color:darkblue;
	text-decoration: underline;
}
body{
	background-color:#f5f5f5;
	font-family:sans-serif;
}

.bg-img {
	background-image: url('corvette.png');
	background-size: 75%;
	background-repeat: no-repeat;
}

ol{
	list-style: upper-roman;
}

ul{
	list-style: square;
}


.custom-table td {
	padding: 10px;
	font-size: 16epx;
}

.custom-table tr {
	padding: 10px;
	font-size: 16px;
}

/* Defaul link styles*/
a {
	color: blue; /*Text color for unvisited links */
	text-decoration: none; /* Remove underline for unvisited links */
}


/* Visited link styles */
a:visited {
	color: purple; /*Text color for visited links */
}

/*Hovered link style */
a:hover {
	color: red; /*Text color for links on hover */
	text-decoration: underline;
}

/*Active link styles (when clicked) */
a:active {
	color:green; /*Text color for active links */
}



































